/Users/kparis/Projects/gnl_perso/.vscode
/Users/kparis/Projects/gnl_perso/a.out.dSYM
/Users/kparis/Projects/gnl_perso/a.out
/Users/kparis/Projects/gnl_perso/test.c
/Users/kparis/Projects/gnl_perso/test.txt
